<img class="main-logo" src="../assets/img/Note-it-font.png" alt="logo Note-it">
<div class="container-1">
    
    <div class="container-2">
      <form action="" id="login-form" class="form" >
        <label for="login-email">Email</label>
        <input type="email" name="email" #emailLogin id="loginEmail" />
        <label for="login-password">Password</label>
        <input type="password" name="password" #passwordLogin id="loginPassword"  />
        <p class="error-message" id="loginMessages"></p>
        <div class="center-item">
          <button  type="button" (click)="formLogin({email: emailLogin.value, password: passwordLogin.value})"  id="btnLogin">Login</button>
        </div>
        <div class="login-redes">
          <p class="loginwith">OR</p>
          <button type="submit" id="btnRegister" routerLink="/register">Create account</button>
          <div class="redes">
            <fa-icon class="logo-facebook" [icon]="faFacebook"></fa-icon>
            <fa-icon class="logo-google" [icon]="faGoogle"></fa-icon>
          </div>
        </div>
        <div class="pieform">
          <p style="font-size: 12px"></p>
        </div>
        <!-- <button type="submit" id="signup">Sign Up</button> -->
      </form>
    </div>    
                          
</div>



