<form action="" id="login-form" class="form">
  <p class="loginText">Login</p>
  <label for="login-email">Email</label>
  <input type="email" name="email" ngModel id="loginEmail" required />
  <label for="login-password">Password</label>
  <input type="password" name="password" ngModel id="loginPassword" required />
  <div class="error-message" id="loginMessages"></div>
  <div class="center-item">
    <button type="submit" id="btnLogin" >Login</button>
  </div>
  <div class="login-redes">
    <p class="loginwith">Or login with:</p> 
    <div class="redes">
      <img src="../../assets/img/face.png" alt="logo facebook" class="logo-facebook" />
      <img src="../../assets/img/gmail.png" alt="logo google" class="logo-google" />
    </div>   
    
  </div>
  <div class="pieform">
    <p style="font-size: 12px">You do not have an account</p>
  </div>
  <!-- <button type="submit" id="signup">Sign Up</button> -->
</form>
