<div class="register-"></div>
<img class="main-logo" src="../assets/img/Note-it-font.png" alt="logo Note-it">

    
    
      <form action="" id="signin-form" class="form" >
        <label for="signin-email">Email</label>
        <input type="email" name="email" ngModel id="signin-email" />
        <label for="signin-password">Password</label>
        <input type="password" name="password" ngModel id="signin-password" onpaste="return false" />
        <label for="password-confirm">Confirm password</label>
        <input type="password" name="password" ngModel id="password-confirm" />
        <p class="error-message" id="signin-messages"></p>
        <div class="center-item">
            <button type="submit" id="btnRegister">Create account</button>
        </div>
        <!-- <div class="signin-redes">
          <p class="signinwith">OR</p>
          <button type="submit" id="btnRegister">Create account</button>
          <div class="redes">
            
          </div>
        </div> -->
        <div class="pieform">
          <p style="font-size: 12px"></p>
        </div>
        <!-- <button type="submit" id="signup">Sign Up</button> -->
      </form>



